@import "tailwindcss";


:root {
  --base: #b92462;
  --base2: #e92b7a;
  --base-op: #380c1eb0;

}
/* 

  --base: #cdb30c;
  --base2: #e4c501;
  --base-op: #cdb30cb6;



*/

@layer utilities {
  ::selection {
    background-color: var(--base); 
    color: white;
  }
}

.bg-pro{
  background-color: var(--base);
}

.text-pro{
  color: var(--base);
}
.text-pro-max{
  color: var(--base2);
}
.border-pro{
  border: 1px solid var(--base);
}


html[lang="ar"] body {
  font-family: var(--font-el-messiri), sans-serif;
}

html[dir="rtl"] body {
  text-align: right;
}
.font-english {
  font-family: var(--font-roboto), sans-serif;
}


.font-arabic {
  font-family: var(--font-el-messiri), sans-serif;
}
html[dir="rtl"] .navbar ul {
  flex-direction: row-reverse;
}
.bg-hero , .subs {
  background-image:linear-gradient(rgba(35, 36, 41, 0.247), rgba(35, 36, 41, 0.123)), url('/images/bg_1.jpg.webp');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  font-display: swap;
 
}
.shared{
   background-image:linear-gradient(rgba(35, 36, 41, 0.548), rgba(25, 25, 29, 0.603)), url('/images/bg_4.jpg.webp');
  background-position:center;
  background-attachment: fixed;
}
.subs{
   background-image:linear-gradient(var(--base-op)), url('/images/bg_4.jpg.webp');
   height: 300px;
  
}

.hvr-color{
  transition: color 0.2s ease-out;
}

.hvr-color:hover{
  color: var(--base);
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--base);
  border-radius: 10px;

}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--base);
}


.custom-scrollbar {
  scrollbar-color: var(--base) transparent;
  scrollbar-width: thin;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.sub1:focus{
  outline: none;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(1.25rem); /* 5 */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}
.scroll-animate {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}


.animate-right {
  animation: slideFromRight 0.8s ease-out forwards;
}

.animate-left {
  animation: slideFromLeft 0.8s ease-out forwards;
}

.animate-top {
  animation: slideFromTop 0.8s ease-out forwards;
}

.animate-bottom {
  animation: slideFromBottom 0.8s ease-out forwards;
}

   
@media (min-width: 1270px) and (max-width: 1780px) {
  .custom-blog-margin {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
 
}

@media  (min-width: 0px) and (max-width: 880px){
  .subs{
    height: auto;
  }
}